@{
    ViewData["Title"] = "Лабораторна робота з ІСтаТП 2021. Ігрові сесії";
}

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("admin"))
    {
        <a asp-controller="Roles">Ролі</a>
        <p><a asp-controller="Users">Список користувачів</a></p>
    }

    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Вихід" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вхід</a>
    <a asp-controller="Account" asp-action="Register">Реєстрація</a>
}
